<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Zoopark</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="css/styles.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="css/myStyle.css">

  <!-- Vue -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="app">
  <header>
    <!-- Recherche -->
    <!--<nav class=" ">
      <div class="search-bar nav-wrapper lighten-1 container">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>-->

    <div class="row">
      <div class="col s12 center"><img src="img/ZOOPARK-01.svg" alt="logo"></div>
    </div>
  </header>

  <main>
    <!--Tabs -->
    <div class="row">
    <!-- Navigation -->
      <div class="col s12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3"><a href="#animals">Animaux</a></li>
          <li class="tab col s3"><a href="#map">Carte</a></li>
          <li class="tab col s3"><a href="#events">Evenements</a></li>
        </ul>
      </div>

    <!-- Animaux -->
    <div id="animals" class="mycontent col s12">
      <div v-if="listingAnimals.length > 0" class="row">
        <div v-for="animal in listingAnimals" class="col s12 m6 l4 reveal-content">
          <div class="card">
            <div class="card-wrap valign-wrapper">
              <div class="card-image">
                <i :class="animal.acf.flaticon_fld"></i>
              </div>
              <div class="card-content">
                <span class="card-title">{{ animal.title.rendered }}</span>
              </div>
            </div>
            <i class="card-arrow material-icons activator">keyboard_arrow_down</i>
          </div>
          <div class="animal-content">
            <img :src="animal.acf.imgAnimal_fld.url" :alt="animal.acf.imgAnimal_fld.alt" class="responsive-img">
            <p v-html="animal.content.rendered"></p>
          </div>
        </div>
      </div>
      <!--<div class="row center error" v-else>{{ errorMsg }}</div>-->
    </div>
    

    <!-- Carte -->
      <div id="map" class="mycontent col s12">
        <div v-if="dataMap" class="row">
          <div id="mapCont" class="col s12">
          <!-- Carte -->
            <img :src="dataMap.acf.map_fld" alt="Carte du zoo">
          <!-- Pointer -->
            <div id="pointer"></div>
          <!-- Icones d'animaux' -->
            <div v-if="listingAnimals.length > 0" v-for="animal in listingAnimals" class="animal-icon" :data-long="animal.acf.long_fld" :data-lat="animal.acf.lat_fld" :data-animal="animal.title.rendered"> 
              <img :src="animal.acf.mapIcon_fld.url" :alt="animal.acf.mapIcon_fld.alt">
            </div>
          </div>
        </div>
        <div class="row center error" v-else>{{ errorMsg }}</div>
      </div>

    <!-- Evenements -->
      <div id="events" class="mycontent col s12">
        <div v-if="listingActivites.length > 0" class="row">
          <h2>Activités</h2>
          <div v-for="activite in listingActivites" class="col s12">
            <h3 class="orange-text">{{ activite.title.rendered }}</h3>
            <div v-html="activite.excerpt.rendered"></div>
          </div>
        </div>
        <div class="row center error" v-else>{{ errorMsg }}</div>
      </div>

    </div>
  </main>

  <footer class="page-footer lighten-1">
    <div class="section white">
      <div class="access-map container">
        <div class="row">
          <div class="col s12 center">
            <h3 class="brown-text">Adresse</h3>
            <p>
              <h4><em>Gosselies</em> <img src="img/ZOOPARK-01.svg" alt="logo"></h4>
              <span itemprop="streetAddress">Rue Stranard -</span>
              <span itemprop="addressLocality">6041 Gosselies -</span>
              (<span itemprop="addressRegion">Belgique</span>- BE)
            </p>
            <p>E411, sortie 25 direction Bouillon sur N89, sortie km 4,7</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright center grey darken-4">
      <div class="container">
        ZooPark <a class="brown-text text-lighten-3" href="#">2016</a>
      </div>
    </div>
  </footer>
</div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/app.js"></script>

</body>
</html>